/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 de ago. de 2024, 19:42:34
    Author     : itccolina
*/

/*CSS in pointofsaleinsert.xhtml*/

.linkPs {
    display: flex;
    justify-content: flex-end;
    background-color: #86efac;
    padding: 10px;
    list-style: none;
    border-radius: 10px 0px 10px 0px;
}

.linkPs a {
    text-decoration: none;
}

.linkPs a:hover {
    color: red;
}

.panelGridBox {
    margin-top: 10px;
}
